.Option{
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  cursor: pointer;
  min-width: 120px;
}

li {
  list-style: none;
}